body {
  background: #0c1e3e; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to bottom,
    #e6f7ff,
    #0c1e3e
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to bottom,
    #648202,
    #1d7f2d
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #fff;
  font-family: Arial, sans-serif;
}

#title {
  font-size: 6em;
  text-align: center;
  margin-top: 100px;
  /* text-shadow: 2px 2px 2px #06e815, -2px -2px 2px #f8fe3b; */
}

#description {
  font-size: 1.5em;
  text-align: center;
  margin-top: 50px;
}

form {
  max-width: 800px;
  color: black;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
}

label {
  display: block;
  margin-bottom: 20px;
  font-size: 1.2em;
}

input[type="text"],
input[type="email"],
input[type="number"],
select,
textarea {
  display: block;
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 15px;
  font-size: 1.2em;
  border-radius: 10px;
  border: none;
  background-color: #f2f2f2;
  color: #333;
  box-shadow: inset 0px 0px 10px #999;
}

input[type="radio"],
input[type="checkbox"] {
  display: inline-block;
  margin-right: 10px;
  margin-top: 5px;
  margin-bottom: 15px;
  font-size: 1.2em;
}

input[type="submit"] {
  background-color: #fd0707;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 1.2em;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 2px 2px 2px #999;
  margin: 0 0 0 0;
}

input[type="submit"]:hover {
  background-color: #00bfff;
}

textarea {
  height: 100px;
  box-shadow: inset 0px 0px 10px #999;
}

select {
  width: 100%;
  background-color: #f2f2f2;
  color: #333;
  border-radius: 10px;
  border: none;
  box-shadow: inset 0px 0px 10px #999;
}

option {
  background-color: #f2f2f2;
  color: #333;
}
